@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev, .swiper-button-next {
    top: auto;
    bottom: 1rem;
    background-color: #db2777;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 1rem;
    color: #fff;
}

.swiper-pagination-bullet {
    width: 1rem;
    height: 0.2rem;
    border-radius: 0.5rem;
}

.swiper-pagination-bullet-active {
    background-color: #db2777;
}
